body {
    font-size: 17px;
    line-height: 1.3;
    background-color: #f5f0f0;
    color: #000;
}

header, nav, main, footer {
    margin: 1.5px auto;
    max-width: 600px;
    text-align: center;
    padding: 1px;
}

header {
    line-height: 4.8;
}

header img {
    margin: 20px;
    border: 1px solid #fff;
    max-width: 125px;
    float: left;
}

a {
    color: blue;
}

header, footer {
    background-color:blue;
    text-align: center;
    color: ghostwhite;
    border: 1px solid #000;
}